<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} | ResiHub</title>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Plus+Jakarta+Sans:wght@700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<!-- Automatically generates a timestamp like style.css?v=1710000000 -->
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">


<!-- {% include custom-styles.html %} -->