<div class="classified-card">
    <div class="card-content">
        <h3 class="card-title">{{ page.title | upcase }}</h3>
        <p class="card-description">{{ content }}</p>
        
        <div class="card-contact">
            <strong>CONTACT:</strong> {{ page.contact }}
            {% if page.price %}<br><strong>PRICE:</strong> ${{ page.price }}{% endif %}
        </div>
    </div>
    
    <div class="card-image-box">
        <img src="{{ page.image_url }}" alt="{{ page.title }}">
    </div>
</div>